<html>
  <head>
    <title>WOLF-REGISTRO</title>  
  </head>

  <body> 
 

    <hr class="featurette-divider">
  
    <div class="container marketing" style="padding-top: 30px">

      <div class="row" style="padding-bottom: 30px; padding-top: 20px";>
        <h2 style="padding-left: 50px">Edita tu perfil</span></h2> 
        <div class="col-lg-6">
          <h3 style="padding-left: 40px" >Hola</h3><h3 style="color:grey; padding-left: 40px"><%= current_user.name %>  <%= current_user.last_name %></h3><h3 style="padding-left: 40px">tú e-mail registrado es el: </h3><h3 style="color:grey; padding-left: 40px"><%= current_user.email %></h3>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
                       
          <h3 style="padding-left: 40px">¿Quieres cancelar tu cuenta?</h3>
          <br>

          <div style="padding-left: 40px; padding-bottom: 10px"><%= button_to "Eliminar MI CUENTA DE WOLF", registration_path(resource_name), :data => { :confirm => "¿Estás seguro?" }, :method => :delete, :class => 'btnwolfsm' %>
          </div>

          
           
          
        </div>
        <div class="col-lg-6">    

            <h3 style="padding-left: 50px">Actualiza tus datos</h3>        

            <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
            <%= devise_error_messages! %>

            <div style="padding-left: 50px; padding-bottom: 10px"><%= f.label :email %><br />
            <%= f.email_field :email, :autofocus => true %></div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div style="padding-left: 50px; padding-bottom: 10px"><%= f.label :Nombre %> <i>(déjala en blanco si no la quieres cambiar)</i><br />
            <%= f.text_field :name, :autocomplete => "off" %></div>

            <div style="padding-left: 50px; padding-bottom: 10px"><%= f.label :Apellido %> <i>(déjala en blanco si no la quieres cambiar)</i><br />
            <%= f.text_field :last_name, :autocomplete => "off" %></div>

            <div style="padding-left: 50px; padding-bottom: 10px"><%= f.label :contraseña %> <i>(déjala en blanco si no la quieres cambiar)</i><br />
            <%= f.password_field :password, :autocomplete => "off" %></div>

            <div style="padding-left: 50px; padding-bottom: 10px"><%= f.label :confirma_tu_contraseña %><br />
            <%= f.password_field :password_confirmation %></div>

            <div style="padding-left: 50px; padding-bottom: 10px"><%= f.label :contraseña_actual %> <i>(ingresa tu contraseña para confirmar los cambios)</i><br />
            <%= f.password_field :current_password %></div>
            <br>

            <div style="padding-left: 50px; padding-bottom: 10px"><%= f.submit "Actualiza los Cambios", :class => 'btnwolfsm' %></div>
            <% end %>

            
        </div>    
          
      </div>
    </div><!-- /.row -->
    
      
  </body>

                

</html>






