<html>
<head>
	<title>WOLF-REGISTRO</title>
	<script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46998732-1', 'wolflatam.com');
      ga('send', 'pageview');
    </script>
	
</head>

<body>

	<div class="container marketing" style="padding-top: 80px">
		<div class="row" style="padding-bottom: 30px;";>

        	<h2 style="padding-left: 50px">Ingreso de Usuarios WOLF</h2>

			<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
			  <div style="padding-left: 50px"><%= f.label :correo_electrónico %><br />
			  <%= f.email_field :email, :autofocus => true %></div>

			  <div style="padding-left: 50px"><%= f.label :contraseña %><br />
			  <%= f.password_field :password %></div>

			  <% if devise_mapping.rememberable? -%>
			    <div style="padding-left: 50px"><%= f.check_box :remember_me %> <%= f.label :recordarme %></div>
			  <% end -%>
			  <br>

			  <div style="padding-left: 50px"><%= f.submit "Ingresa", :class => 'btnwolfsm' %></div>
			  <br>
			<% end %>

			<%= render "devise/shared/links" %>

		</div>
	</div><!-- /.row -->


</body>
</html>







